[submodule "libs/jquery-hoverIntent"]
	path = libs/jquery-hoverIntent
	url = git://github.com/briancherne/jquery-hoverIntent.git
[submodule "libs/backbone-forms"]
	path = libs/backbone-forms
	url = git://github.com/powmedia/backbone-forms.git
[submodule "libs/Leaflet.draw"]
	path = libs/Leaflet.draw
	url = git://github.com/Leaflet/Leaflet.draw.git
[submodule "libs/Leaflet.awesome-markers"]
	path = libs/Leaflet.awesome-markers
	url = git://github.com/lvoogdt/Leaflet.awesome-markers.git
[submodule "libs/Font-Awesome"]
	path = libs/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "libs/leaflet.bouncemarker"]
	path = libs/leaflet.bouncemarker
	url = git://github.com/maximeh/leaflet.bouncemarker.git
